aiohttp==3.8.1
certifi==2021.10.8
numpy==1.20.3
pandas==1.4.3
pymongo==4.1.1
requests==2.26.0
streamlit==1.11
web3==5.30.0
requests_html==0.10.0
streamlit-aggrid==0.3.4.post3
openpyxl==3.0.10
dnspython==2.2.1
streamlit-authenticator==0.1.5
pathlib==1.0.1
python-dotenv==0.19.2
XlsxWriter==3.1.2
altair==4.2.2
joblib==1.2.0
GitPython==3.1.31
pip==23.1.2